@model Employee
@{
    ViewData["Title"] = "Edit";
}


<div class="container">

    <h2>Edit Employee's Information</h2>
    <hr />

    <form asp-action="Edit" class="form-horizontal" asp-route-EmployeeId="@Model.EmployeeId" asp-route-CompanyName="@Model.CompanyName">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmployeeId" />

        <div class="form-group">
            <label asp-for="FirstName" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group">
            <label asp-for="OfficeExtension" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="OfficeExtension" class="form-control" />
            <span asp-validation-for="OfficeExtension" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group">
            <label asp-for="OfficeNumber" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="OfficeNumber" class="form-control" />
            <span asp-validation-for="OfficeNumber" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="Position" class="form-control" />
            <span asp-validation-for="Position" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group">
            <label asp-for="Ssn" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
            <input asp-for="Ssn" class="form-control" />
            <span asp-validation-for="Ssn" class="text-danger"></span>
                </div>
        </div>

        <div class="modal-footer form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-controller="Companies" asp-action="Details" asp-route-Name="@Model.CompanyName">Back to all Employees</a>
        </div>
    </form>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@