@model Relative
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h3>Add Relative</h3>
    <hr />

    <form class="form-horizontal" asp-controller="Relatives" asp-action="Create" asp-route-EmployeeId="@ViewData["EmployeeId"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input required asp-for="Name" class="form-control" placeholder="Enter name of relative" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Relationship" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input required asp-for="Relationship" class="form-control" placeholder="Enter relationship to employee" />
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>
        </div>

        <br />
        <br/>
        <br/>
        <hr />
        <a asp-controller="Employees" asp-action="Details" asp-route-EmployeeId="@ViewData["EmployeeId"]">Back to Employee Details</a>



        <div class="form-group float-right">
            <input type="submit" value="Create Relative" class="btn btn-primary" />
        </div>
    </form>
    </div>
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@