@model List<DangerousPcsView>
@{
}

<div>
    <h3 class="font-weight-bold">Info about PCs in Danger</h3>
</div>

<br />
<br />

<table class="table bg-white table-striped table-bordered table-condensed table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                User
            </th>
            <th>
                PcID
            </th>
            <th>
                CPU Usage
            </th>
            <th>
                Memory Usage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageCpuUsage)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageMemoryUsage)% 
            </td>
        </tr>
        }
    </tbody>
</table>


<a asp-controller="CompanyPCs" asp-action="DisplayPCs" asp-route-CompanyName=@ViewData["CompanyName"]>Back to list</a>