@model CompanyPc
@{
    ViewData["Title"] = "Edit";
}


<div class="container">

    <h3>Edit PC</h3>

    <hr />
    <form asp-action="Edit" asp-route-PcId="@Model.PcId" class="form-horizontal" asp-route-CompanyName="@Model.NameofCompany">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="AdminId" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeId" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CpuModel" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="CpuModel" class="form-control" />
                <span asp-validation-for="CpuModel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cpumanufacturer" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="Cpumanufacturer" class="form-control" />
                <span asp-validation-for="Cpumanufacturer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClockSpeed" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="ClockSpeed" class="form-control" />
                <span asp-validation-for="ClockSpeed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiskModel" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="DiskModel" class="form-control" />
                <span asp-validation-for="DiskModel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiskSpace" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="DiskSpace" class="form-control" />
                <span asp-validation-for="DiskSpace" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReadWriteSpeed" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="ReadWriteSpeed" class="form-control" />
                <span asp-validation-for="ReadWriteSpeed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MemoryModel" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="MemoryModel" class="form-control" />
                <span asp-validation-for="MemoryModel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalMemory" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="TotalMemory" class="form-control" />
                <span asp-validation-for="TotalMemory" class="text-danger"></span>
            </div>
        </div>

        <br />

        <a asp-controller="CompanyPCs" asp-action="DisplayPCs" asp-route-CompanyName="@Model.NameofCompany">Back to all PCs</a>

        <div class="form-group float-right">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@